<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YXYT.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>29FD5CCB9BCB09E470C0729A658AAF9723FEBE56</string>
				<key>dateExpires</key>
				<string>2019/11/28</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6VUB45YDCB.com.yxyt.YXYT</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6VUB45YDCB</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>6VUB45YDCB.com.yxyt.YXYT</string>
				</array>
			</dict>
			<key>name</key>
			<string>YXYT.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>09fc8fe1-865e-44e8-bc76-8ac65047cd70</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.yxyt.YXYT</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6VUB45YDCB</string>
				<key>name</key>
				<string>Qiangzong Xiang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
